@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600,300,600italic,400italic,300italic);
/* Welcome to Compass
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 1, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Open Sans", "sans-serif";
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 1, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 1, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/partials/_reset.scss */
body {
  font-family: "Open Sans", "sans-serif";
}

/* HEADINGS */
/* line 5, ../sass/partials/_typography.scss */
h1 {
  font-size: 35px;
  color: #fff;
  font-family: "Open Sans", "sans-serif";
}

/* line 11, ../sass/partials/_typography.scss */
h2 {
  font-size: 30px;
  color: #fff;
  font-family: "Open Sans", "sans-serif";
}

/* line 18, ../sass/partials/_typography.scss */
h3 {
  font-size: 25px;
  color: #000;
  font-family: "Open Sans", "sans-serif";
}

/* line 24, ../sass/partials/_typography.scss */
h4 {
  font-size: 20px;
  color: #fff;
  font-family: "Open Sans", "sans-serif";
}

/* line 30, ../sass/partials/_typography.scss */
h5 {
  font-size: 18px;
  color: #000;
  font-family: "Open Sans", "sans-serif";
}

/* line 37, ../sass/partials/_typography.scss */
p {
  font-family: "Open Sans", "sans-serif";
  font-size: 13px;
}

/* line 43, ../sass/partials/_typography.scss */
.bold {
  font-weight: 700;
}

/* line 47, ../sass/partials/_typography.scss */
.italic {
  font-style: italic;
}

/* line 51, ../sass/partials/_typography.scss */
p.fecha {
  font-style: italic;
  font-size: 12px;
  color: #b9b9b9;
}

/* MODAL BASICO H2 */
/* line 59, ../sass/partials/_typography.scss */
.modal-basico h2 {
  color: #383838;
  font-size: 48px;
  text-align: center;
}

/* line 1, ../sass/partials/_buttons.scss */
a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  text-decoration: none;
}

/* line 11, ../sass/partials/_buttons.scss */
.btn-ver-mas-small, .btn-ver-mas-small-grey {
  height: 28px;
  width: 103px;
  padding: 6px 0 0;
  font-size: 15px;
  font-style: italic;
  color: #fff;
  background-color: #ca1919;
}
/* line 23, ../sass/partials/_buttons.scss */
.btn-ver-mas-small:hover, .btn-ver-mas-small-grey:hover {
  background-color: #f7ca3a;
}

/* line 30, ../sass/partials/_buttons.scss */
.btn-mas-flat {
  font-size: 18px;
  font-weight: 600;
  color: #ca1919;
  font-style: italic;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 38, ../sass/partials/_buttons.scss */
.btn-mas-flat:hover {
  color: #f7ca3a;
}

/* line 43, ../sass/partials/_buttons.scss */
.btn-ver-mas-small-grey {
  height: 26px;
  padding: 8px 0 0;
  width: 103px;
  background-color: #8f8f90;
}

/* line 53, ../sass/partials/_buttons.scss */
.btn-email:hover {
  color: #f7ca3a;
}

/* line 62, ../sass/partials/_buttons.scss */
.btn-filtrador {
  background-color: #fff;
  color: #ca1919;
  text-decoration: none;
  height: 32px;
  width: auto;
  padding: 5px 20px;
  font-style: italic;
}

/* GRILLA */
/* line 4, ../sass/partials/_grids.scss */
.container {
  width: 1080px;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* line 11, ../sass/partials/_grids.scss */
.container-mitad {
  width: 536px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

/* line 17, ../sass/partials/_grids.scss */
.container-tercio {
  width: 356px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: top;
}

/* line 24, ../sass/partials/_grids.scss */
.container-cuarto {
  width: 266px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

/* line 30, ../sass/partials/_grids.scss */
.container-quinto {
  width: 215px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

/* line 37, ../sass/partials/_grids.scss */
.container-sexto {
  width: 176px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

/* line 43, ../sass/partials/_grids.scss */
.container-big {
  width: 710px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: top;
}

/* line 50, ../sass/partials/_grids.scss */
.container-aside {
  width: 340px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: top;
}

/* TABLAS */
/* line 62, ../sass/partials/_grids.scss */
.tabla-generica {
  width: 100%;
  height: auto;
}
/* line 67, ../sass/partials/_grids.scss */
.tabla-generica tr {
  height: 50px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
/* line 74, ../sass/partials/_grids.scss */
.tabla-generica tr td {
  font-style: italic;
  padding-top: 2px;
  vertical-align: middle;
}
/* line 81, ../sass/partials/_grids.scss */
.tabla-generica tr:nth-child(odd) {
  background: #141110;
}
/* line 85, ../sass/partials/_grids.scss */
.tabla-generica tr:nth-child(even) {
  background: #1f1f1f;
}

/* line 91, ../sass/partials/_grids.scss */
.header-tabla {
  background-color: #2d2d2d !important;
  height: 50px;
}
/* line 95, ../sass/partials/_grids.scss */
.header-tabla td {
  font-size: 22px;
  color: #ffffff;
  font-family: 'bignoodletitlingoblique';
  font-style: normal !important;
  padding-top: 7px !important;
  text-align: center;
}

/* HEADER */
/* line 3, ../sass/partials/_header.scss */
nav {
  height: 92px;
  background-color: #ca1919;
  z-index: 99;
  position: relative;
  background-image: url("../img/bg-oriental.png");
  background-repeat: repeat-x;
}
/* line 11, ../sass/partials/_header.scss */
nav ul {
  width: 1080px;
  margin: 0 auto;
}
/* line 15, ../sass/partials/_header.scss */
nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 80px;
  height: 92px;
  margin-right: 30px;
  text-align: center;
}
/* line 25, ../sass/partials/_header.scss */
nav ul li:last-child {
  margin-right: 0;
}
/* line 29, ../sass/partials/_header.scss */
nav ul li.logo {
  width: 184px;
  margin-right: 0;
}

/* line 40, ../sass/partials/_header.scss */
.logo img {
  height: auto;
  width: 140px;
}

/* line 47, ../sass/partials/_header.scss */
.menu-ul li a {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  display: inline-block;
  padding-top: 35px;
}
/* line 56, ../sass/partials/_header.scss */
.menu-ul li a:hover {
  color: #f7ca3a;
}
/* line 60, ../sass/partials/_header.scss */
.menu-ul li a.selected {
  color: #f7ca3a;
}

/* line 69, ../sass/partials/_header.scss */
ul li.logo a {
  padding-top: 15px;
}

/* line 74, ../sass/partials/_header.scss */
.main-menu-fixed {
  display: none;
  left: 0;
  margin: 0 auto;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

/* line 84, ../sass/partials/_header.scss */
.hfix {
  display: block;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  height: 245px;
  background-color: #ca1919;
  display: block;
  background-image: url("../img/bg-oriental.png");
  background-repeat: repeat;
  padding: 40px 0 0;
}
/* line 10, ../sass/partials/_footer.scss */
footer p {
  color: #fff;
  line-height: 1.4;
}
/* line 15, ../sass/partials/_footer.scss */
footer a {
  color: #fff;
  font-size: 13px;
}
/* line 20, ../sass/partials/_footer.scss */
footer .sociales {
  list-style: none;
  display: block;
  margin: 20px 0 0;
}
/* line 26, ../sass/partials/_footer.scss */
footer .sociales li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 16px 0 0;
}
/* line 31, ../sass/partials/_footer.scss */
footer .mapsite {
  list-style: none;
}
/* line 35, ../sass/partials/_footer.scss */
footer .mapsite li {
  display: block;
  margin-bottom: 3px;
}
/* line 40, ../sass/partials/_footer.scss */
footer .mapsite li a {
  color: #fff;
}
/* line 44, ../sass/partials/_footer.scss */
footer .mapsite li a:hover {
  color: #f7ca3a;
}
/* line 48, ../sass/partials/_footer.scss */
footer .mapsite li a:visited {
  color: #fff;
}
/* line 52, ../sass/partials/_footer.scss */
footer .container-sexto {
  vertical-align: top;
}
/* line 56, ../sass/partials/_footer.scss */
footer .form-footer {
  display: block;
  margin-left: 80px;
}
/* line 61, ../sass/partials/_footer.scss */
footer .name-letter {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 102px;
  height: 49px;
  padding: 20px 0;
  background-color: #cccccc;
  font-size: 12px;
  color: #565656;
  text-align: center;
}
/* line 73, ../sass/partials/_footer.scss */
footer .input {
  border: none;
  width: 193px;
  height: 49px;
  padding: 0 10px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 -5px;
  font-size: 12px;
  color: #535970;
}
/* line 86, ../sass/partials/_footer.scss */
footer .white-cont {
  height: 49px;
  margin-left: -5px;
  width: 137px;
  padding: 8px 0 0;
  background-color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 96, ../sass/partials/_footer.scss */
footer .btn-suscribe {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  height: 33px;
  width: 128px;
  border: none;
  background-color: #ca1919;
}
/* line 110, ../sass/partials/_footer.scss */
footer .btn-suscribe:hover {
  background-color: #212121;
}

/*TABLETS*/
@media screen and (max-width: 1024px) {
  /* line 124, ../sass/partials/_footer.scss */
  footer .container {
    width: 95%;
  }
  /* line 128, ../sass/partials/_footer.scss */
  footer .container-cuarto {
    width: 25%;
    vertical-align: top;
  }
  /* line 133, ../sass/partials/_footer.scss */
  footer .container-sexto {
    width: 17%;
    vertical-align: top;
  }
  /* line 138, ../sass/partials/_footer.scss */
  footer .container-mitad {
    width: 45%;
    vertical-align: top;
  }
  /* line 145, ../sass/partials/_footer.scss */
  footer .form-footer {
    margin-left: 13%;
  }
  /* line 149, ../sass/partials/_footer.scss */
  footer .form-footer .name-letter {
    display: none;
  }
  /* line 153, ../sass/partials/_footer.scss */
  footer .form-footer .input {
    width: 150px;
  }
  /* line 157, ../sass/partials/_footer.scss */
  footer .form-footer .white-cont {
    width: 120px;
  }
  /* line 161, ../sass/partials/_footer.scss */
  footer .form-footer .btn-suscribe {
    width: 110px;
  }
}
/*TELEFONOS*/
@media screen and (max-width: 767px) {
  /* line 182, ../sass/partials/_footer.scss */
  footer {
    padding: 40px 0;
    height: auto;
  }
  /* line 187, ../sass/partials/_footer.scss */
  footer .container {
    width: 95%;
  }
  /* line 191, ../sass/partials/_footer.scss */
  footer .container-cuarto {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 198, ../sass/partials/_footer.scss */
  footer .container-sexto {
    width: 95%;
    display: block;
    margin: 20px auto;
    text-align: center;
    line-height: 1.4;
  }
  /* line 207, ../sass/partials/_footer.scss */
  footer .mapsite li a {
    font-size: 20px;
  }
  /* line 211, ../sass/partials/_footer.scss */
  footer .container-mitad {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 218, ../sass/partials/_footer.scss */
  footer .form-footer {
    display: inline-block;
    margin-left: inherit;
  }
}
/*TABLETS*/
/*TELEFONOS*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */
/* clearfix */
/* line 7, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 16, ../sass/frameworks/_owl.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 22, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 27, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 32, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 40, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 44, ../sass/frameworks/_owl.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 47, ../sass/frameworks/_owl.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
/* line 57, ../sass/frameworks/_owl.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 63, ../sass/frameworks/_owl.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.2
*/
/* line 82, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls {
  margin-top: -210px;
  text-align: center;
  position: relative;
  z-index: 9;
}

/* Styling Next and Prev buttons */
/* line 91, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* line 108, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
/* line 116, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

/* line 121, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 26px;
  height: 26px;
  margin: 5px 7px;
  filter: Alpha(Opacity=40);
  /*IE7 fix*/
  opacity: 0.4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #fff;
}

/* line 138, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
/* line 145, ../sass/frameworks/_owl.scss */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
/* line 157, ../sass/frameworks/_owl.scss */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
/* line 170, ../sass/frameworks/_owl.scss */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

/* fade */
/* line 180, ../sass/frameworks/_owl.scss */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}

/* line 186, ../sass/frameworks/_owl.scss */
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}

/* backSlide */
/* line 192, ../sass/frameworks/_owl.scss */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}

/* line 197, ../sass/frameworks/_owl.scss */
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

/* goDown */
/* line 203, ../sass/frameworks/_owl.scss */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}

/* line 208, ../sass/frameworks/_owl.scss */
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}

/* scaleUp */
/* line 214, ../sass/frameworks/_owl.scss */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

/* line 220, ../sass/frameworks/_owl.scss */
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  /* line 228, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }
}

@-moz-keyframes empty {
  /* line 231, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }
}

@keyframes empty {
  /* line 234, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* line 237, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 0;
  }

  /* line 238, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 241, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 0;
  }

  /* line 242, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 245, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 0;
  }

  /* line 246, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 249, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }

  /* line 250, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 253, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }

  /* line 254, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 257, ../sass/frameworks/_owl.scss */
  0% {
    opacity: 1;
  }

  /* line 258, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes backSlideOut {
  /* line 261, ../sass/frameworks/_owl.scss */
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  /* line 262, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }

  /* line 263, ../sass/frameworks/_owl.scss */
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}

@-moz-keyframes backSlideOut {
  /* line 266, ../sass/frameworks/_owl.scss */
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  /* line 267, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }

  /* line 268, ../sass/frameworks/_owl.scss */
  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideOut {
  /* line 271, ../sass/frameworks/_owl.scss */
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  /* line 272, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }

  /* line 273, ../sass/frameworks/_owl.scss */
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@-webkit-keyframes backSlideIn {
  /* line 276, ../sass/frameworks/_owl.scss */
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }

  /* line 277, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  /* line 278, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}

@-moz-keyframes backSlideIn {
  /* line 281, ../sass/frameworks/_owl.scss */
  0%, 25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }

  /* line 282, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  /* line 283, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}

@keyframes backSlideIn {
  /* line 286, ../sass/frameworks/_owl.scss */
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }

  /* line 287, ../sass/frameworks/_owl.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  /* line 288, ../sass/frameworks/_owl.scss */
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@-webkit-keyframes scaleToFade {
  /* line 291, ../sass/frameworks/_owl.scss */
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes scaleToFade {
  /* line 294, ../sass/frameworks/_owl.scss */
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes scaleToFade {
  /* line 297, ../sass/frameworks/_owl.scss */
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@-webkit-keyframes goDown {
  /* line 300, ../sass/frameworks/_owl.scss */
  from {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes goDown {
  /* line 303, ../sass/frameworks/_owl.scss */
  from {
    -moz-transform: translateY(-100%);
  }
}

@keyframes goDown {
  /* line 306, ../sass/frameworks/_owl.scss */
  from {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes scaleUpFrom {
  /* line 310, ../sass/frameworks/_owl.scss */
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes scaleUpFrom {
  /* line 313, ../sass/frameworks/_owl.scss */
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes scaleUpFrom {
  /* line 316, ../sass/frameworks/_owl.scss */
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* line 1, ../sass/frameworks/_shadowbox.scss */
#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message {
  font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  color: #fff;
}

/* line 2, ../sass/frameworks/_shadowbox.scss */
#sb-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  visibility: hidden;
  display: none;
}

/* line 3, ../sass/frameworks/_shadowbox.scss */
#sb-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 4, ../sass/frameworks/_shadowbox.scss */
#sb-wrapper {
  position: absolute;
  visibility: hidden;
  width: 100px;
}

/* line 5, ../sass/frameworks/_shadowbox.scss */
#sb-wrapper-inner {
  position: relative;
  border: 1px solid #303030;
  overflow: hidden;
  height: 100px;
}

/* line 6, ../sass/frameworks/_shadowbox.scss */
#sb-body {
  position: relative;
  height: 100%;
}

/* line 7, ../sass/frameworks/_shadowbox.scss */
#sb-body-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 8, ../sass/frameworks/_shadowbox.scss */
#sb-player.html {
  height: 100%;
  overflow: auto;
}

/* line 9, ../sass/frameworks/_shadowbox.scss */
#sb-body img {
  border: none;
}

/* line 10, ../sass/frameworks/_shadowbox.scss */
#sb-loading {
  position: relative;
  height: 100%;
}

/* line 11, ../sass/frameworks/_shadowbox.scss */
#sb-loading-inner {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  text-align: center;
}

/* line 12, ../sass/frameworks/_shadowbox.scss */
#sb-loading-inner span {
  background: url(../img/shadowbox/loading.gif) no-repeat;
  padding-left: 34px;
  display: inline-block;
}

/* line 13, ../sass/frameworks/_shadowbox.scss */
#sb-body, #sb-loading {
  background-color: #060606;
}

/* line 14, ../sass/frameworks/_shadowbox.scss */
#sb-title, #sb-info {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 15, ../sass/frameworks/_shadowbox.scss */
#sb-title, #sb-title-inner {
  height: 26px;
  line-height: 26px;
}

/* line 16, ../sass/frameworks/_shadowbox.scss */
#sb-title-inner {
  font-size: 16px;
}

/* line 17, ../sass/frameworks/_shadowbox.scss */
#sb-info, #sb-info-inner {
  height: 20px;
  line-height: 20px;
}

/* line 18, ../sass/frameworks/_shadowbox.scss */
#sb-info-inner {
  font-size: 12px;
}

/* line 19, ../sass/frameworks/_shadowbox.scss */
#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%;
}

/* line 20, ../sass/frameworks/_shadowbox.scss */
#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
  background-repeat: no-repeat;
}

/* line 21, ../sass/frameworks/_shadowbox.scss */
#sb-nav-close {
  background-image: url(../img/shadowbox/close.png);
}

/* line 22, ../sass/frameworks/_shadowbox.scss */
#sb-nav-next {
  background-image: url(../img/shadowbox/next.png);
}

/* line 23, ../sass/frameworks/_shadowbox.scss */
#sb-nav-previous {
  background-image: url(../img/shadowbox/previous.png);
}

/* line 24, ../sass/frameworks/_shadowbox.scss */
#sb-nav-play {
  background-image: url(../img/shadowbox/play.png);
}

/* line 25, ../sass/frameworks/_shadowbox.scss */
#sb-nav-pause {
  background-image: url(../img/shadowbox/pause.png);
}

/* line 26, ../sass/frameworks/_shadowbox.scss */
#sb-counter {
  float: left;
  width: 45%;
}

/* line 27, ../sass/frameworks/_shadowbox.scss */
#sb-counter a {
  padding: 0 4px 0 0;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

/* line 28, ../sass/frameworks/_shadowbox.scss */
#sb-counter a.sb-counter-current {
  text-decoration: underline;
}

/* line 29, ../sass/frameworks/_shadowbox.scss */
div.sb-message {
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* line 30, ../sass/frameworks/_shadowbox.scss */
div.sb-message a:link, div.sb-message a:visited {
  color: #fff;
  text-decoration: underline;
}

/* line 29, ../sass/main.scss */
body {
  background-color: #eaeaea;
}

/* ------------ MODAL --------------- */
/* line 34, ../sass/main.scss */
.modal-basico {
  height: 515px;
  width: 581px;
  overflow-x: hidden;
}

/* ------------ SLIDER HOME --------------- */
/* line 44, ../sass/main.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 50, ../sass/main.scss */
.owl-carousel {
  height: 585px;
}

/* line 55, ../sass/main.scss */
.caja-info-slider {
  padding: 25px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 155px;
  z-index: 2;
  width: 40%;
  max-width: 457px;
  min-width: 457px;
  height: 194px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 74, ../sass/main.scss */
.caja-info-slider h2 {
  color: #ca1919;
  font-weight: 700;
}
/* line 80, ../sass/main.scss */
.caja-info-slider p {
  color: #ca1919;
  font-size: 17px;
  margin: 10px 0 0;
}

/* ------------ HOME --------------- */
/* line 92, ../sass/main.scss */
.cuadros-reservas {
  position: relative;
  margin: -145px 0 25px;
}

/* line 97, ../sass/main.scss */
.cuadro-reserva, .cuadro-menu-online {
  width: 514px;
  height: 99px;
  padding: 5px 25px;
  color: #fff;
  line-height: 1.4;
  position: relative;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  background-color: #ca1919;
  background-image: url("../img/bg-cuadros-slider.jpg");
  background-repeat: repeat;
}
/* line 110, ../sass/main.scss */
.cuadro-reserva a, .cuadro-menu-online a {
  color: #fff;
}
/* line 114, ../sass/main.scss */
.cuadro-reserva img, .cuadro-menu-online img {
  position: absolute;
  right: 25px;
  top: 35px;
}
/* line 120, ../sass/main.scss */
.cuadro-reserva:hover, .cuadro-menu-online:hover {
  background-position: 0 -15px;
}

/* ------------ HOME CUADROS NOTICIAS --------------- */
/* line 133, ../sass/main.scss */
.contenedor-noticias-home {
  margin: 0 0 50px;
}
/* line 137, ../sass/main.scss */
.contenedor-noticias-home .btn-mas-flat {
  text-align: center;
  margin: 47px 0 0;
  display: block;
}

/* line 144, ../sass/main.scss */
.cuadro-noticias, .cuadro-carta-cont {
  width: 340px;
  height: 420px;
  padding: 12px;
  background-color: #fff;
  text-align: center;
  line-height: 1.4;
}
/* line 153, ../sass/main.scss */
.cuadro-noticias img, .cuadro-carta-cont img {
  width: 315px;
  height: 178px;
  display: block;
}
/* line 159, ../sass/main.scss */
.cuadro-noticias h4, .cuadro-carta-cont h4 {
  color: #ca1919;
  font-weight: 600;
  font-style: italic;
  display: block;
  margin: 14px 0 0;
  height: 65px;
  overflow: hidden;
}
/* line 170, ../sass/main.scss */
.cuadro-noticias p.fecha, .cuadro-carta-cont p.fecha {
  height: 14px;
}
/* line 174, ../sass/main.scss */
.cuadro-noticias p, .cuadro-carta-cont p {
  color: #919191;
  height: 75px;
  overflow: hidden;
}
/* line 180, ../sass/main.scss */
.cuadro-noticias .btn-ver-mas-small, .cuadro-carta-cont .btn-ver-mas-small, .cuadro-noticias .btn-ver-mas-small-grey, .cuadro-carta-cont .btn-ver-mas-small-grey {
  display: block;
  margin: 10px auto 0;
}

/* ------------ GALERIA --------------- */
/* line 190, ../sass/main.scss */
.galeria-shadow {
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 75px;
}
/* line 195, ../sass/main.scss */
.galeria-shadow li {
  float: left;
  width: 20%;
  height: auto;
  overflow: hidden;
}
/* line 202, ../sass/main.scss */
.galeria-shadow li a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 207, ../sass/main.scss */
.galeria-shadow li a img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------ BENEFICIOS HOME --------------- */
/* line 222, ../sass/main.scss */
.beneficios-home h2, .beneficios-inside h2, .carta h2, .sparkling-wine h2, .takeout-n-delivery h2, .listado-noticias-inside h2, .noticia-inside h2, .sociales-container h2, .contacto h2 {
  display: block;
  text-align: center;
  color: #ca1919;
}
/* line 228, ../sass/main.scss */
.beneficios-home .sociales, .beneficios-inside .sociales, .carta .sociales, .sparkling-wine .sociales, .takeout-n-delivery .sociales, .listado-noticias-inside .sociales, .noticia-inside .sociales, .sociales-container .sociales, .contacto .sociales {
  float: right;
  height: 25px;
}
/* line 233, ../sass/main.scss */
.beneficios-home .beneficios-container, .beneficios-inside .beneficios-container, .carta .beneficios-container, .sparkling-wine .beneficios-container, .takeout-n-delivery .beneficios-container, .listado-noticias-inside .beneficios-container, .noticia-inside .beneficios-container, .sociales-container .beneficios-container, .contacto .beneficios-container, .beneficios-home .noticias-inside-container, .beneficios-inside .noticias-inside-container, .carta .noticias-inside-container, .sparkling-wine .noticias-inside-container, .takeout-n-delivery .noticias-inside-container, .listado-noticias-inside .noticias-inside-container, .noticia-inside .noticias-inside-container, .sociales-container .noticias-inside-container, .contacto .noticias-inside-container {
  margin: 35px auto 0;
}

/* line 241, ../sass/main.scss */
.beneficios-container .btn-mas-flat, .noticias-inside-container .btn-mas-flat {
  text-align: center;
  margin: 47px 0 65px;
  display: block;
}
/* line 247, ../sass/main.scss */
.beneficios-container .beneficio-box, .noticias-inside-container .beneficio-box {
  width: 340px;
  height: 230px;
  padding: 15px 25px;
  text-align: center;
  background-image: url("../img/bg-cuadros-gris.jpg");
  background-repeat: repeat;
}
/* line 256, ../sass/main.scss */
.beneficios-container .beneficio-box h2, .noticias-inside-container .beneficio-box h2 {
  color: #8b8c8d;
  font-style: italic;
  font-weight: 700;
  height: 94px;
  overflow: hidden;
}
/* line 264, ../sass/main.scss */
.beneficios-container .beneficio-box p.fecha, .noticias-inside-container .beneficio-box p.fecha {
  height: 14px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 270, ../sass/main.scss */
.beneficios-container .beneficio-box p, .noticias-inside-container .beneficio-box p {
  color: #919191;
  height: 40px;
  overflow: hidden;
}
/* line 276, ../sass/main.scss */
.beneficios-container .beneficio-box .btn-ver-mas-small-grey, .noticias-inside-container .beneficio-box .btn-ver-mas-small-grey {
  display: block;
  margin: 10px auto 0;
  text-align: center;
}

/* ------------ GOOGLE MAPS HOME --------------- */
/* line 291, ../sass/main.scss */
.map-container {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 301, ../sass/main.scss */
.map-container iframe,
.map-container object,
.map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------ NOSOTROS --------------- */
/* line 320, ../sass/main.scss */
.portada-nosotros {
  background-image: url("../img/nosotros/portada.jpg");
}

/* line 324, ../sass/main.scss */
.portada-barra {
  background-image: url("../img/nosotros/foto-wide-1.jpg");
}

/* line 328, ../sass/main.scss */
.portada-tea {
  background-image: url("../img/nosotros/foto-wide-2.jpg");
}

/* line 333, ../sass/main.scss */
.img-wide, .img-wide-first {
  height: 510px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 342, ../sass/main.scss */
.img-wide-first {
  height: 370px;
}

/* line 347, ../sass/main.scss */
.info-wide, .nosotros-features {
  padding: 78px 0 170px;
  height: 450px;
  text-align: center;
}
/* line 352, ../sass/main.scss */
.info-wide h2, .nosotros-features h2 {
  color: #ca1919;
  font-weight: 700;
  display: block;
  margin: 0 0 35px;
}
/* line 359, ../sass/main.scss */
.info-wide p, .nosotros-features p {
  color: #919191;
}

/* line 364, ../sass/main.scss */
.last-info-wide {
  padding: 78px 0 30px;
  height: 390px;
}

/* line 370, ../sass/main.scss */
.nosotros-features {
  padding: 0 0 170px;
  height: auto;
}

/* ------------ BENEFICIOS INSIDE --------------- */
/* line 390, ../sass/main.scss */
.beneficios-inside {
  margin: 50px 0 0;
}
/* line 394, ../sass/main.scss */
.beneficios-inside h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* line 402, ../sass/main.scss */
.beneficios-inside .container-tercio {
  margin-bottom: 30px;
}

/* line 407, ../sass/main.scss */
.beneficios-inside .beneficio-box {
  background: #fff;
  text-align: center;
}
/* line 411, ../sass/main.scss */
.beneficios-inside .beneficio-box h2 {
  text-align: center;
  font-size: 22px;
  color: #ca1919;
}

/* line 419, ../sass/main.scss */
#myList li {
  display: none;
}

/* ------------ CARTA --------------- */
/* line 429, ../sass/main.scss */
.carta {
  margin: 50px 0 0;
}
/* line 433, ../sass/main.scss */
.carta h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* line 440, ../sass/main.scss */
.option-set {
  margin: 40px 0 0;
}
/* line 443, ../sass/main.scss */
.option-set li {
  display: inline-block;
  margin-right: 12px;
}
/* line 448, ../sass/main.scss */
.option-set li:last-child {
  margin-right: 0;
}
/* line 452, ../sass/main.scss */
.option-set .selected {
  background-color: #ca1919;
  color: #fff;
}

/* line 459, ../sass/main.scss */
.cuadro-carta-cont {
  float: left;
  margin-bottom: 30px;
}
/* line 465, ../sass/main.scss */
.cuadro-carta-cont p {
  height: 95px;
}
/* line 469, ../sass/main.scss */
.cuadro-carta-cont h3 {
  color: #ca1919;
  display: block;
  margin: 10px auto 0;
  font-weight: 700;
}

/* ------------ SPARKLING WINE --------------- */
/* line 499, ../sass/main.scss */
.sparkling-wine {
  margin: 50px 0 150px;
}
/* line 503, ../sass/main.scss */
.sparkling-wine h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* ------------ TAKEOUT N DELIVERY --------------- */
/* line 531, ../sass/main.scss */
.takeout-n-delivery {
  margin: 50px 0 150px;
}
/* line 535, ../sass/main.scss */
.takeout-n-delivery h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* ------------ NOTICIAS --------------- */
/* line 562, ../sass/main.scss */
.listado-noticias-inside {
  margin: 50px 0 0;
}
/* line 566, ../sass/main.scss */
.listado-noticias-inside h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}
/* line 573, ../sass/main.scss */
.listado-noticias-inside .noticias-list-container {
  margin: 25px auto 90px;
}
/* line 576, ../sass/main.scss */
.listado-noticias-inside .noticias-list-container .cuadro-noticias, .listado-noticias-inside .noticias-list-container .cuadro-carta-cont {
  margin-bottom: 20px;
}
/* line 580, ../sass/main.scss */
.listado-noticias-inside .noticias-list-container .btn-mas-flat {
  text-align: center;
  margin: 47px 0 0;
  display: block;
}

/* ------------ NOTICIA INSIDE --------------- */
/* line 594, ../sass/main.scss */
.noticia-inside {
  margin: 50px 0 150px;
}
/* line 598, ../sass/main.scss */
.noticia-inside h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* line 610, ../sass/main.scss */
.noticia-big {
  display: block;
  overflow: hidden;
  line-height: 1.4;
}
/* line 615, ../sass/main.scss */
.noticia-big .noticia-img-wide {
  width: 710px;
  height: auto;
  display: block;
  margin: 20px 0;
}
/* line 622, ../sass/main.scss */
.noticia-big .img-wide:nth-child(1), .noticia-big .img-wide-first:nth-child(1) {
  margin: 0 0 20px;
}
/* line 626, ../sass/main.scss */
.noticia-big h4 {
  font-style: italic;
  font-weight: 600;
  display: block;
  color: #ca1919;
  margin: 20px 0 15px;
}
/* line 634, ../sass/main.scss */
.noticia-big h4:nth-child(1) {
  margin: 0;
}
/* line 638, ../sass/main.scss */
.noticia-big a {
  color: #ca1919;
}
/* line 642, ../sass/main.scss */
.noticia-big p.fecha {
  font-size: 13px;
}
/* line 646, ../sass/main.scss */
.noticia-big p {
  margin: 20px 0 0;
  color: #919191;
  font-size: 13px;
}

/* line 655, ../sass/main.scss */
.container-aside {
  margin: 0 0 0 25px;
}
/* line 659, ../sass/main.scss */
.container-aside h4 {
  color: #ca1919;
  display: block;
  margin: 0 0 15px;
  font-weight: 700;
}
/* line 666, ../sass/main.scss */
.container-aside ul {
  list-style: none;
}
/* line 670, ../sass/main.scss */
.container-aside ul li {
  display: block;
  margin: 0 0 15px;
}
/* line 674, ../sass/main.scss */
.container-aside ul li a {
  text-decoration: none;
  color: #919191;
  font-size: 13px;
}
/* line 680, ../sass/main.scss */
.container-aside ul li a:hover {
  color: #f7ca3a;
}

/* ------------ SOCIALES --------------- */
/* line 699, ../sass/main.scss */
.sociales-container {
  margin: 50px 0 150px;
}
/* line 703, ../sass/main.scss */
.sociales-container h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}

/* ------------ CONTACTO --------------- */
/* line 726, ../sass/main.scss */
.contacto {
  margin: 50px 0 150px;
}
/* line 730, ../sass/main.scss */
.contacto h2 {
  text-align: left;
  display: inline-block;
  margin: inherit;
}
