@charset "UTF-8";
/*///////Desarrollado por 2Brains 
/////////Author Oscar Fuentes////////////////////*/






/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                   GENERAL                  ///////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,800italic,700italic,700,600italic,400italic,300italic,300);


@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('fonts/big_noodle_titling-webfont.eot');
    src: url('fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('fonts/big_noodle_titling-webfont.ttf') format('truetype'),
         url('fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}





body {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
}


p {
	font-size: 16px;
	color: #000;
}


a {
	transition: all 0.25s;
	-ms-transition: all 0.25s;
	-moz-transition: all 0.25s; 
	-webkit-transition: all 0.25s; 
	-o-transition: all 0.25s; 
	color:inherit;
	text-decoration: none;


	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}


	a:visited {
		text-decoration: none;
		color:inherit;
	}

	a:hover {
		text-decoration: none;
	}



/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                   TIPOGRAFIA                  ////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


.italic {
	font-style: italic!important;
}

.semi-bold {
	font-weight: 600!important;
}



h2 {
	font-size: 58px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
}


h3 {
	font-size: 38px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
}

h4 {
	font-size: 28px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
}

h5 {
	font-size: 18px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
}



.p-white {
	font-size: 16px;
	color: #000;
}

.p-ligth-grey {
	font-size: 16px;
	color: #a9a9a9;
}

.p-dark-grey {
	font-size: 16px;
	color: #585858;
}

.fecha-destacada {
	font-size: 22px;
	font-style: italic;
}


.p-strong {
	font-size: 25px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
}






/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                  FORMULARIOS                    //////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


.label-form {
	font-size: 24px;
	color: #000;
	font-family: 'bignoodletitlingoblique';
	display: block;
}


.input-form,
.input-form-small {
	background-color: #383838;
    border: 1px solid #E3E3E3;

   
    display: block;
    height: 45px;
    width: 475px;
    margin: 0 0 20px;
    padding: 0 0 0 12px;

    font-family: 'Open Sans';
    font-size: 18px;
    color: #fff;
    text-transform: none;
    font-style: italic;

    transition: all 0.25s;
	-ms-transition: all 0.25s;
	-moz-transition: all 0.25s; 
	-webkit-transition: all 0.25s; 
	-o-transition: all 0.25s; 
    
}

.input-form-small {
	width: 240px;
}

.label-form-radio {
	color: #6c6c6c;
	font-family: 'bignoodletitlingoblique';
	font-size: 22px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
}


.select-form::-ms-expand {
    display: none;
}

.select-form {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/select-arrow.jpg") no-repeat scroll right center #383838;
    border: solid 1px #383838;
    border-radius: 0;
    height: 44px;
    line-height: 1;
    width: 489px;
    overflow: hidden !important;
    padding: 12px 0 0 7px;
    text-indent: 0.01px;
    text-overflow: "";
    vertical-align: middle;
    cursor: pointer;
    
    font-size: 15px;
    text-transform: none;
    color: #fff;
    display: block;
    margin: 0 0 25px 0;
}









  






/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                  BOTONES                    //////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/



.btn-bases-footer {
    background: none repeat scroll 0 0 #FF0000;
    display: block;
    height: 79px;
    margin: 0 auto;
    text-align: center;
    width: 166px;
}


.btn-big-azul,
.btn-small-azul {
	background-color: #0076c7;
	
	font-style: italic;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
	color: #fff!important;

	min-width: 180px;
	width: auto;
	height: 50px;

	display: inline-block;
	padding-top: 17px;
}

	.btn-big-azul:hover,
	.btn-small-azul:hover {
		background-color: #fece00;
	}


.btn-small-azul {
	min-width: 124px;
	width: auto;
}


.btn-editar,
.btn-eliminar {
	width: 27px;
	height: 27px;

	-webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px;
 	border-radius: 150px;

 	background-color: #575757;
 	display: inline-block;
}

.btn-editar {
	margin-right: 8px;
}

	.btn-editar:hover,
	.btn-eliminar:hover {
		background-color: #fece00;
	}


.btn-edita-foto {
	width: 50px;
	height: 50px;

	-webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px;
 	border-radius: 150px;

 	background-color: #0076c7;
 	display: inline-block;

 	position: absolute;
 	right: 0;
 	top: 10px;
}

	.btn-edita-foto:hover {
		background-color: #fece00;
	}



.btn-ver-ganadores {
	width: 243px;
	height: 50px;
	display: inline-block;
	margin: 0 auto;
	padding-top: 17px;

	background-color: #575757;
	color: #fff!important;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
}

	.btn-ver-ganadores img {
		margin-left: 10px;

		 transition: all 0.65s;
		-ms-transition: all 0.65s;
		-moz-transition: all 0.65s; 
		-webkit-transition: all 0.65s; 
		-o-transition: all 0.65s; 
	}


	.btn-ver-ganadores:hover {
		background-color: #0078cb;
	}

	.exp {
     transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);     
	} /*CLASE ROTACION DE FLECHA*/

	
.pop-card {
	display: inline-block;
}













/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                  LAYOUT                    ///////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


/*GRILLA*/

.container {
	width: 996px;
	display: block;
	margin: 0 auto;
	clear: both;
	position: relative;
}

.container-mitad {
	width: 495px;
	display: inline-block;
	clear: both;
	vertical-align: top;
	position: relative;
}

.container-tercio {
	width: 329px;
	display: inline-block;
	clear: both;
	vertical-align: top;
	position: relative;
}

.container-cuarto {
	width: 240px;
	display: inline-block;
	clear: both;
	vertical-align: top;
	position: relative;
}

.container-quinto {
	width: 192px;
	display: inline-block;
	clear: both;
	vertical-align: top;
	position: relative;
}


.container-sexto {
	width: 160px;
	display: inline-block;
	clear: both;
	vertical-align: top;
	position: relative;
}












/*CIRCULOS DE GENTE*/

.circulo-people-big {
	width: 243px;
	height: 243px;

	-webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px;
 	border-radius: 150px;
	text-align: center;
	overflow: hidden;
}

	.circulo-people-big img {
		vertical-align: middle;
		display: block;
	}





.circulo-people-small {
	width: 157px;
	height: 157px;

	-webkit-border-radius: 150px;
    -moz-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px;
 	border-radius: 150px;
	text-align: center;
	overflow: hidden;
}

	.circulo-people-small img {
		vertical-align: middle;
		display: block;
		width: 157px;
		height: 157px;
	}






/* TABLAS */

.tabla-generica {
	width: 100%;
	height: auto;
}
	.tabla-generica tr {
		height: 50px;
		
		color: #fff;
		font-size: 15px;
		
		text-align: center;
	}
		
		.tabla-generica tr td {
		    font-style: italic;
		    padding-top: 2px;
		    vertical-align: middle;
		}


	.tabla-generica tr:nth-child(odd) { 
			background: #141110;
	}

	.tabla-generica tr:nth-child(even) {
			background: #1f1f1f;
	}

	.header-tabla {
		background-color: #2d2d2d!important;
		height: 50px;

	}

		.header-tabla td {
			font-size: 22px;
			color: #ffffff;
			font-family: 'bignoodletitlingoblique';
			font-style: normal!important;

			padding-top: 7px!important;
			text-align: center;
		}








/* FOOTER ONE*/


footer {
	background-color: #282828;
	margin-top: 250px;
}

	.marcas-footer {
		width: 530px;
		margin: 0 auto;
		display: block;
		text-align: center;

		list-style: none;
	}

	.marcas-footer li {
		display: inline-block;
		margin-right: 95px;
	}

	.marcas-footer li:last-child {
		margin-right: 0;
	}

	.list-tiendas {
		width: 100%;
		margin-top: 50px;
		display: block;

		list-style: none;
		text-align: center;
	}

	.list-tiendas li {
		display: inline-block;
	}

	.list-tiendas li .p-white {
		line-height: 25px;
	}

	.valido-hasta {
		text-align: center;
		font-size: 12px;
		line-height: 20px;

		max-width: 385px;
		width: 100%;
		margin: 25px auto 0;
	}




/* FOOTER TWO*/

.footer-bottom {
	background-color: #e8e8e8;

	display: block;
	width: 100%;
	height: 65px;

	text-align: center;
	padding: 30px 0 0 0;
	margin-top: 60px;
}

	.footer-bottom .container img {
		display: block;
	}

	.footer-bottom .container .p-dark-grey {
		font-size: 14px;
	}



/* VISTA DATOS USUARIOS */

.datos-facebook {
	list-style: none;
}

	.datos-facebook li {
		display: block;
		vertical-align: middle;
		margin-bottom:25px;
	}

	.datos-facebook li p {
		display: inline-block;
	}

	.datos-facebook li .p-strong {
		margin-right: 15px;
		vertical-align: top;
	}



/* CONTENEDOR MODAL */

.modal-basico h2 {
	color: #383838;
	font-size: 48px;
	text-align: center;
}



.cont-formularios-modal {
	width: 500px;
	margin: 20px auto 0;
	position: relative;
}

	.cont-formularios-modal .container-cuarto {
	}

	.cont-formularios-modal .label-form {
		color: #383838;
		font-size: 22px;
		display: inline-block;
	}

	.cont-formularios-modal .input-form-small,
	.cont-formularios-modal .input-form {
		background-color: #e5e5e5;
		color: #6c6c6c;
		width: 210px;
	}

	.cont-formularios-modal .input-form {
		width: 365px;
	}

	.cont-formularios-modal .select-form {
		color: #6c6c6c;
		width: 225px;
		border: none;

		background: url("../img/select-arrow-modal.jpg") no-repeat scroll right center #e5e5e5;
	}







/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                  VISTAS                    ///////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/



/* PERFIL USUARIO*/

.tramo-container {
	position: relative;
	margin-top: 25px;
	height: 87px;
	margin-top: 25px;
}

	.tramo-container .valor-izk,
	.tramo-container .valor-der {
		width: 25px;
		height: 35px;

		text-align: center;
		color: #000;
		font-size: 14px;
		font-weight: bolder;

		display: inline-block;
		z-index: 5;
		position: absolute;
		top: 56px;
	}

		.tramo-container .valor-izk .circle,
		.tramo-container .valor-der .circle {
			width: 10px;
			height: 10px;

			display: block;
			margin: 0 auto 8px;

			background-color: #000;

			-webkit-border-radius: 150px;
		    -moz-border-radius: 150px;
			-ms-border-radius: 150px;
			-o-border-radius: 150px;
		 	border-radius: 150px;
		}
	
	.line-valor {
		background-color: #5E5E5E;
	    display: inline-block;

	    position: absolute;
	    top: 59px;
	    left: 12px;

	    height: 4px;
	    width: 132px;
	    z-index: 1;
	}

	.tramo-container .valor-der {
		right: 0;
	}

	.valor-indicador {
		position: absolute;

		color: #fece00;
		font-family: 'bignoodletitlingoblique';
		font-size: 28px;
		text-align: center;

		width: auto;
		height: 60px;

	}
		.valor-indicador .pin-valor {
			display: block;
			height: 30px;
		}











/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                   PLUGINS                  ///////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/





/* ------------ MODAL --------------- */
.modal-basico {
	height: 515px;
	width: 581px;

	overflow-x:hidden;
}




/* ------------PLUGIN RADIO BUTTON --------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../img/blue.png) no-repeat;
    border: none;
    cursor: pointer;
    margin: 0 0 20px;

    vertical-align: middle;
}

.icheckbox_minimal-blue {
    background-position: 0 0;
}
    .icheckbox_minimal-blue.hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal-blue.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal-blue.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal-blue.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal-blue {
    background-position: -100px 0;
}
    .iradio_minimal-blue.hover {
        background-position: -120px 0;
    }
    .iradio_minimal-blue.checked {
        background-position: -140px 0;
    }
    .iradio_minimal-blue.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal-blue.checked.disabled {
        background-position: -180px 0;
    }









/* ------------ TOOTIP --------------- */

.popover {
	position: absolute;
}
	
	/* Aesthetic styles */
.popover {
	background: #333;
	color: #fff;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	padding: 10px;
	width: 200px;
}

#popover2 .after {
	border-bottom: 10px solid transparent;
	border-left: 15px solid #333;
	content: '';
	bottom: -10px;
	height: 0;
	margin-left: -5px;
	left: 50%;
	position: absolute;
	width: 0;
}
	











/* ------------ ESTILOS BARRA LATERAL MOBILE  *Off-canvas navigation* --------------- */

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../img/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-svg .close-btn {
  background-image: url("../img/close-btn.png");
}

.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #fece00 url("../img/nav-icon.svg") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-svg .nav-btn {
  background-image: url("../img/nav-icon.png");
}

.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


header .block {
  position: relative;
  margin: 0 auto;
  padding: 1.5em 1.25em;
  max-width: 60em;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

#nav {
  	background: none repeat scroll 0 0 #0168AE;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 200;
}

#nav .close-btn {
  display: none;
}


#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
  background:#0168AE;
  width: 960px;
  margin: 0 auto;
}


#nav ul {
  *zoom: 1;
  display: inline-block;
    width: 510px;
}

#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}

#nav ul:after {
  clear: both;
}

#nav li {
  display: block;
}

#nav li a {
  display: block;
  color:#ffffff;
  font-family: 'bignoodletitlingoblique';
  font-size: 20px;
}


#nav li.is-active a {
  color: #fff;
}

#top {
  z-index: 100;
  position: relative;
  color: #fff;
  display: none;
}

#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
}

#top .nav-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
}

#main {
  background: #fff;
}

#main .block {
  padding: 2.625em 1.875em;
}


.sociales {
	display: none;
}

.logo-mobile {
	display: none;
}

















/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                  MEDIAQUERIES                    /////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/



@media screen and (max-width:1024px) {

}



@media screen and (min-width: 768px) {


/* ------------ ESTILOS BARRA LATERAL MOBILE  *Off-canvas navigation* --------------- */
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

#nav .block-title {
  border: medium none;
    clip: inherit;
    display: inline-block;
    height: 45px;
    margin: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    width: 87px;

    vertical-align: middle;
}

  #nav ul {
    text-align: inherit;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0.42857em 0.85714em;
  }

}


@media screen and (max-width: 767px) {


/* ------------ LAYOUT --------------- */

	.container {
		width: 90%;
	}


/* ------------ ESTILOS BARRA LATERAL MOBILE  *Off-canvas navigation* --------------- */

	header {
	    width: 100%;
	    background-color: #0168AE;
	}
	
		header .block {
		    height: 60px;
		    margin: 0 auto;
		    max-width: inherit;
		    padding: 0;
		    position: relative;
		    width: 95%;
		    text-align: center;
		}


	#top {
		display: block;
	}

		#top .nav-btn {
		    background-color: rgba(0, 0, 0, 0);
		    display: inline-block;
		    left: 0;
		    position: absolute;
		    top: 12px;
		}

	#nav {
	    position: absolute;
	    top: 0;
	    padding-top: 5.25em;
	}

		#nav:not(:target) {
		    z-index: 1;
		    height: 0;
		}

		#nav:target .close-btn {
		    display: block;
		}

		#nav .close-btn {
		    position: absolute;
		    top: -3.75em;
		    left: 1.875em;
		}

		#nav .block {
		    position: relative;
		    padding: 0;
		    margin: inherit;
		    width: inherit;
		}

		#nav .block-title  {
			display: none;
		}

		#nav li {
		    position: relative;
		    border-top: 1px solid rgba(255, 255, 255, 0.1);
		}

		#nav li:last-child {
		    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}

		#nav li.is-active:after {
		    z-index: 50;
		    display: block;
		    content: "";
		    position: absolute;
		    top: 50%;
		    right: -0.03125em;
		    margin-top: -0.625em;
		    border-top: 0.625em transparent solid;
		    border-bottom: 0.625em transparent solid;
		    border-right: 0.625em white solid;
		}

			#nav li a {
			    padding: 0.85714em 2.14286em;
			}

	.js-ready #nav {
		    height: 100%;
		    width: 70%;
		    background: #333333;
		    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		}

		.js-ready #nav .block {
		    background: transparent;
		}

		.js-ready #nav .close-btn {
		    display: block;
		    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		    opacity: 0.7;
		}

		.js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
		    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		    opacity: 1;
		}

		.js-ready #nav {
		    left: -70%;
		}

		.js-ready #inner-wrap {
		    left: 0;
		}

		.js-nav #inner-wrap {
		    left: 70%;
		}

	.csstransforms3d.csstransitions.js-ready #nav {
	    left: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    -moz-transform: translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0);
	    -o-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.csstransforms3d.csstransitions.js-ready #inner-wrap {
	    left: 0 !important;
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	    -webkit-transition: -webkit-transform 500ms ease;
	    -moz-transition: -moz-transform 500ms ease;
	    -o-transition: -o-transform 500ms ease;
	    transition: transform 500ms ease;
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.csstransforms3d.csstransitions.js-nav #inner-wrap {
	    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	}

	.csstransforms3d.csstransitions.js-ready #nav .block {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	    opacity: 0.7;
	    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
	    -webkit-transition-delay: ease, 0s;
	    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
	    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
	    transition: opacity 300ms 100ms ease, transform 500ms ease;
	    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
	    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
	    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
	    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
	    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
	    -webkit-transform-origin: 50% 0%;
	    -moz-transform-origin: 50% 0%;
	    -ms-transform-origin: 50% 0%;
	    -o-transform-origin: 50% 0%;
	    transform-origin: 50% 0%;
	}

	.csstransforms3d.csstransitions.js-nav #nav .block {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	    -o-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	}

	.sociales {
		 bottom: 20%;
	    display: block;
	    height: 50px;
	    left: 10%;
	    position: fixed;
	    width: 90%;
	}

	
	.logo-mobile {
	    display: inline-block;
	    margin-top: 7px;
	}






/* ------------ ESTILOS TABLA --------------- */

	.tabla-generica {
	    display: inline-block;
	    height: auto;
	    width: 100%;
	}

		.tabla-generica .header-tabla {
			display: none;
		}

		.tabla-generica tbody {
		    display: block;
		    width: 100%;
		}

		.tabla-generica tr {
		    display: block;
		    position: relative;
		}

		.tabla-generica tbody .n-boleta,
		.tabla-generica tbody .fecha,
		.tabla-generica tbody .tarjeta {
		    display: block;
		    left: 0;
		    position: absolute;
		    width: 50%;
		}


		.tabla-generica tbody .mall,
		.tabla-generica tbody .tienda,
		.tabla-generica tbody .monto {
		   	display: block;
		    position: absolute;
		    right: 0;
		    width: 50%;
		}

		.tabla-generica tbody .btn-editar,
		.tabla-generica tbody .btn-eliminar {
			display: none;
		}


		.tabla-generica tbody .fecha,
		.tabla-generica tbody .mall {
	    	top: 15px;
		}

		.tabla-generica tbody .tarjeta,
		.tabla-generica tbody .tienda {
		    top: 29px;
		}
}



/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////                                             //////////////////////
//////////////////////                   HELPERS                  ///////////////////////
//////////////////////                                             //////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////*/


