/* Welcome to Compass
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


// Modules and Variables
@import "partials/base";
@import "modules/all";
@import "modules/colors";
@import "modules/utility";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/grids";

@import "partials/header";
@import "partials/footer";

@import "frameworks/radio";
@import "frameworks/owl";



/* ------------ MODAL --------------- */
.modal-basico {
	height: 515px;
	width: 581px;
	overflow-x:hidden;
}


/* ------------ OWL DEMO HOME --------------- */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel {
	height: 585px;
}






/* ------------ HOME --------------- */

.cuadros-reservas {
	margin-top: -115px;
	position: relative;
}

.cuadro-reserva {
	width: 514px;
	height: 99px;

	background-color: #13438a
}

.cuadro-menu-online {
	@extend .cuadro-reserva;
}




