footer {
	height: 245px;
	background-color: $rojo-oficial;
	display: block;

	padding: 40px 0 0;

	p {
		color: #fff;
		line-height: $base-line-height;
	}

	a {
		color: #fff;
		font-size: 13px;
	}

	.sociales {
		list-style: none;
		display: block;
		margin: 20px 0 0 ;
	}

	.sociales li {
		@include inline-block;
		margin: 0 16px 0 0;
	}

	.mapsite {
		list-style: none;
	}

	.mapsite li {
		display: block;
		margin-bottom: 3px;
	}

	.mapsite li a {
		color: #fff;
	}

	.mapsite li a:hover {
		color: $hover-oficial;
	}

	.mapsite li a:visited {
		color: #fff;
	}

	.container-sexto {
		vertical-align: top;
	}

	.form-footer {
		display: block;
		margin-left: 80px;
	}

	.name-letter {
		@include inline-block;
		width: 102px;
		height: 49px;
		padding: 17px 0;
		background-color: #cccccc;

		font-size: 12px;
		color: #565656;
		text-align: center;
	}

	.input {
		border: none;
		width: 193px;
	    height: 49px;
	    padding: 0 10px;
	    @include transition-duration(0.25s);
	    @include inline-block;
	    margin: 0 0 0 -5px;

	    font-size: 12px;
	    color: #535970;
	}

	.white-cont {
		height: 49px;
	    margin-left: -5px;
	    width: 137px;
	    padding: 8px 0 0 ;

		background-color: #fff;
		@include inline-block;
	}

	.btn-suscribe {
	    color: #FFFFFF;
	    font-size: 12px;
	    font-weight: $bold;
	    text-align: center;
	    cursor: pointer;
	    @include transition-duration(0.25s);

	    height: 33px;
	    width: 128px;
	    border: none;
	    background-color: $rojo-oficial;
	}

	.btn-suscribe:hover {
		background-color: #212121;
	}


}

  
    