
/* GRILLA */

.container {
	width: 1080px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.container-mitad {
	width: 536px;
	@include inline-block;
	position: relative;
}

.container-tercio {
	width: 356px;
	@include inline-block;
	position: relative;
}

.container-cuarto {
	width: 266px;
	@include inline-block;
	position: relative;
}

.container-quinto {
	width: 215px;
	@include inline-block;
	position: relative;
}


.container-sexto {
	width: 176px;
	@include inline-block;
	position: relative;
}




/* TABLAS */

.tabla-generica {
	width: 100%;
	height: auto;


	& tr {
		height: 50px;
		color: #fff;
		font-size: 15px;
		text-align: center;
	}
		
		& tr td {
		    font-style: $italic;
		    padding-top: 2px;
		    vertical-align: middle;
		}


	& tr:nth-child(odd) { 
			background: #141110;
	}

	& tr:nth-child(even) {
			background: #1f1f1f;
	}

}

.header-tabla {
	background-color: #2d2d2d!important;
	height: 50px;

	& td {
		font-size: 22px;
		color: #ffffff;
		font-family: 'bignoodletitlingoblique';
		font-style: normal!important;

		padding-top: 7px!important;
		text-align: center;
	}
}