/* HEADER */

nav {
	height: 92px;
	background-color: $rojo-oficial;
	z-index: 99;
	position: relative;
	background-image: url('../img/bg-oriental.png');
	background-repeat: repeat-x;

	ul {
	width: 1080px;
	margin: 0 auto;

		li {
			@include inline-block;
			
			width: 80px;
			height: 92px;
	
			margin-right: 22px;
			text-align: center;
		}

		li:last-child {
			margin-right: 0;
		}

		li.logo {
			width: 184px;
			margin-right: 0;
		}


	}
}



.logo img {
    height: auto;
    width: 140px;
}



.menu-ul li a {
	color: #fff;
	font-size: 16px;
	font-style: italic;
	font-weight: $bold;
	display: inline-block;

	padding-top: 35px;

	&:hover {
		color: $hover-oficial;
	}

	&.selected {
		color:$hover-oficial;
	}


}



ul li.logo a {
	padding-top: 15px;
}


.main-menu-fixed {
 	display: none;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.hfix {
	display: block;
}

.nav-menu {
	display:none;
}


// TABLETS
@media screen and (max-width:1024px) {

	nav {
		background-repeat: repeat;
		height: auto;
		min-height: 70px;

		ul {

			margin: inherit;

			li {
				display: block;
			}
		}


	}

	.nav-menu {
			color:#f9f9f9;
			display:block;
			padding:20px 10px;
	}

	.menu-ul {
		display: none;

		.logo {
			display: none;
		}


	}

	.nav-open {
			width:100%;
			display:block;
	}



}








// TELEFONOS
@media screen and (max-width:767px) {




}